@model App4.Models.Pessoa
@{
    ViewData["Title"] = "CadatrarPessoa";
}

<h2>Cadastrar Pessoa</h2>

<form action="" method="post">
    <div>

        <label asp-for="Codigo"></label>
    
    </div>

</form>